/**
 * Common application mixes (BEM)
 */

/**
 * Block: text
 */
.text {
  // Colors
  &-accent {
    color: $accent;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-grey {
    color: $grey;
  }
  // Other
  &-nowrap {
    white-space: nowrap;
  }
  // &-middle {
  //   vertical-align: middle;
  // }
  // Transform
  &-transform {
    &-none {
      text-transform: none;
    }
  }
  // Sizes
  &-sm {
    font-size: 0.875rem;
  }
  &-xs {
    font-size: 0.75rem;
  }
  &-xxs {
    font-size: 0.625rem;
  }
}

/**
 * Mix: pos
 */
@each $breakpoint in map-keys(map-remove($grid-breakpoints, sm, md, lg, xl, xxl, xxxl)) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, map-remove($grid-breakpoints, xl, xxl, xxxl));

    .pos#{$infix} {
      &-absolute {
        position: absolute !important;
      }
      &-relative {
        position: relative !important;
      }
      // &-static {
      //   position: static !important;
      // }
    }
  }
}

/**
 * Mix: z-{}
 */
.z {
  &-n1 {
    z-index: -1 !important;
  }
  &-0 {
    z-index: 0 !important;
  }
  &-1 {
    z-index: 1 !important;
  }
}

/**
 * Mix: opacity-{50}
 */
.opacity {
  &-50 {
    opacity: .5;
  }
  &-10 {
    opacity: .1;
  }
}


/**
 * Block: bg-{}
 */
.bg {
  // Colors
  &-white {
    background-color: $white;
  }
  &-accent {
    background-color: $accent;
  }
  &-primary-light {
    background-color: $primary-light;
  }
  &-primary {
    background-color: $primary;
  }
  &-primary-dark {
    background-color: $primary-dark;
  }
  &-primary-extra-light {
    background-color: $primary-extra-light;
  }
  &-primary-extra-dark {
    background-color: $primary-extra-dark;
  }
  &-holder {
    background-color: $black-dark;
  }
}

/**
 * Mix: mw-{}
 */
.mw {
  // &-300 {
  //   max-width: 300px;
  // }
}

/**
 * Mix: img-{}
 */
.img {
  &-cover {
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
  &-contain {
    object-fit: contain;
    font-family: "object-fit: contain;";
  }
  // &-full {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  // }
}

/**
 * Mix: list-{}
 */
.list-empty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * Mix: font-weight-{book}
 */
.font {
  &-weight-book {
    font-weight: 100;
  }
}

/**
 * Mix: w-{}
 */
.w {
  &-100 {
    width: 100% !important;
  }
}

/**
 * Mix: h-{}
 */
.h {
  &-100 {
    height: 100% !important;
  }
}

/**
 * Mix: title-line
 */
.title-line {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: .5em;
    right: 100%;
    height: 3px;
    width: 300px;
    background-color: $accent;
    margin-right: 15px;
  }
}